# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/luju9145/node"
PassengerBaseURI "/"
PassengerNodejs "/home/luju9145/nodevenv/node/16/bin/node"
PassengerAppType node
PassengerStartupFile /node/api/src/index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/luju9145/hexedian-root"
PassengerBaseURI "/"
PassengerNodejs "/home/luju9145/nodevenv/hexedian-root/10/bin/node"
PassengerAppType node
PassengerStartupFile api/src/index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>