.filterBar {
    display: flex;
  }
  
  .filterBtn {
    padding: 10px;
    margin: 0;
    border: none;
    cursor: pointer;
  
    &:not(:last-child) {
      margin-right: 10px;
    }
  
    &.selected {
      background-color: #3498db; // Couleur lorsque le bouton est sélectionné
      color: #fff; // Couleur du texte lorsque le bouton est sélectionné
    }
  }
  