.playerLine {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    color: $vintage-1;
    width: 50%;
    text-align: center;
    
    .infos {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.playerLine:hover {
    color: red;
    width: 60%;
    height: 10%;
    font-size: 1.2em;
}