.playerLine {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    .infos {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        
        
    }
}
  