.report {
    text-align: center;
    form {
        width: 40%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    textarea {
        
        width: 100%;
        background-color: $vintage-2;
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        margin-top: 5%;
        padding: 1px;
        width: 120px;
        height: 60px;
        border: solid;
        border-color: $vintage-5;
        background-color: $vintage-4;
        color: $vintage-2;
    }

    button:hover {
        background-color: #0d47a1;
    }
    .resultMessage{
        margin-top: 5%;
        color: white;
        font-size: 1.3em;
    }
}