.searchBar {
    input {
        width: 450px;
        height: 40px;
        background-color: black;
        color: white;
        text-align: center;
        color: white;
        font-size: 1.4em;
    }
    width: 100%;
    text-align: center;
}