.warningBar {
    overflow-x: hidden;
    text-align: center;
    background-color: black;
    color: $rouge;
    position: relative;

    .warningBar-text {
        animation: bounce 0s ease infinite;
    }

    &.paused .warningBar-text {
        animation-play-state: paused;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(30%);
    }
    50% {
        transform: translateX(-30%);
    }
}
