@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #333533;
$white: rgb(243, 243, 243);

$vintage-1: #cfdbd5;
$vintage-2: #e8eddf;
$vintage-3: #f5cb5c;
$vintage-4: #242423;
$vintage-5: #333533;

$rouge: #e7414d;
$blanc: #fafdf9;
$bleu-clair: #b0dedf;
$bleu: #477fa2;
$bleu-fonce: #1e375a;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bleu;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}